doctype html
html
	head
		link(href="./assets/fonts/ralewayc/ralewayc.css", rel='stylesheet', type='text/css')
		link(href="./assets/css/main.css", rel='stylesheet', type='text/css')
		link(href="./bower_components/normalize-css/normalize.css", rel='stylesheet', type='text/css')
		link(href="./assets/js/fancybox/jquery.fancybox.css", rel='stylesheet', type='text/css')
		meta(charset='utf-8')
		meta(name='description', content='Как за 3 дня узнать о будущем больше, чем за год')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel="shortcut icon" href="./assets/images/ms-icon-310x310.png" type="image/x-icon")
		link(rel="icon" href="./assets/images/ms-icon-310x310.png" type="image/x-icon")
		title Думай как создатель: дизайн-мышление, дизайн-исследования, трендвотчинг, развитие креативности
		// Facebook meta tags
		meta(property="og:title", content="Образовательный тур от Екатерины Храмковой, Lumiknows")
		meta(property="og:description", content="Приглашаю Вас прикоснуться к будущему. В октябре 2015 я еду на Неделю Голландского Дизайна (Dutch Design Week) в Эйндховен и буду рада, если и Вы присоединитесь ко мне в этой поездке 21 - 25 октября.")
		meta(property="og:image", content="./assets/images/dutch-design-week-2015-07_small.jpg")
	body
		include ./assets/images/svg/sprite/svg/symbols.svg
		header.header
			// Случайная картинка
			//- <iframe width="560" height="315" src="https://www.youtube.com/embed/obNf0mx1Wbk" frameborder="0" allowfullscreen></iframe>
			.header__container
				h1.header__slogan Думай как создатель
				h2.header__slogan--sub Образовательные программы Lumiknows
				.header__slogan--author Дизайн-мышление | Дизайн-исследования | Трендвотчинг | Развитие креативности
				svg.icon.calendar.header__icon
					use(xlink:href="#mouse", fill='white')
		.section.description
			p.doublesized Вы находитесь на образовательном портале дизайн-агентства инноваций Lumiknows. Мы помогаем бизнесу проектировать и улучшать пользовательский опыт продукта, услуги, бренда, используя инструментарий <a href='http://www.lumiknows.ru/content/design_research_rus/' target='_blank'>дизайн-исследований</a> и методологию <a href='http://www.lumiknows.com/content/131/' target='_blank'>дизайн-мышления</a>.

			p Накопленный опыт практической работы по созданию новых продуктов в более чем пятнадцати индустриях как для российских, так и мировых лидеров позволил нам разработать уникальную для России образовательную программу «Думай как создатель». Это первая российская программа, объединившая инструментарий дизайн-мышления, трендвотчинга и прототипирования.

			p Завоевание и удержание лидерских позиций требует сегодня от бизнеса принципиально нового набора как профессиональных, так и личных качеств. Способность создавать и коммуницировать собственное видение развития не только отрасли, но и «разумного будущего» в целом, умение «взглянуть на мир глазами своего потребителя», представление о ключевых инструментах «дизайн-мышления», включая «быстрые» прототипирование и тестирование концептов разрабатываемых продуктов, навыки сканирования технологических и социо-культурных трендов, - все это становится необходимым атрибутом лидера 21 века.

			p Сессии рассчитаны как на организации, так и на высокомотивированных профессионалов, нацеленных на раскрытие принципиально новых возможностей развития своей индустрии в условиях экономики, ключевой характеристикой которой является нелинейность, всеобщая взаимосвязанность и принципиальная непредсказуемость.

			p Чаще всего, по окончании наших сессий участники говорят о "расширении сознания"...
		section.section
			h2.section__title Для кого:
			ul
				li Владельцы и топ-менеджмент, отвечающий за стратегическое развитие компаний;
				li Специалисты по развитию бизнеса;
				li Директора по маркетингу;
				li Руководители бизнес-инкубаторов и технопарков, менторы стартап-команд;
				li Специалисты, отвечающие за разработку и внедрение инноваций в организациях;
				li Разработчики инновационных продуктов и услуг;
				li Руководители разработки, маркетинговых отделов, продаж компаний-производителей;
				li Аккаунт- и бренд-менеджеры;
				li Специалисты, работающие в области дизайн-мышления, дизайн-исследований, сервис-дизайна;
				li Арт-директора, руководители дизайн-студий, дизайн-менеджеры, дизайнеры-аналитики;
				li Специалисты, отвечающие за разработки ближне- и дальнесрочных дизайн-стратегий компании;
				li HR, cпециалисты по развитию персонала;
				li Специалисты по трендам;
				li Профессионалы, нацеленные на интеграцию технологий будущего в свои образовательные программы;
				li Зрелые студенты, которые стоят на пороге выбора направлений дальнейшего обучения;
				li Стартапы,задумывающиеся об эволюции своего продукта и/или позиционировании на глобальном рынке.
		section.section.section--fullwidth.section--colored
			section.section
				h2.section__title Наиболее популярные темы:
				ul.section__col.section__col--50
					li.yellow-back.listtitle Дизайн-мышление
					li Разработка инновационных продуктов с использованием методологии дизайн-мышления
					li Дизайн-мышление как инструмент стратегического видения
					li Применение инструментария дизайн-мышления в инновационном предпринимательстве
					li Базовая формула дизайн-мышления: искусство поиска The Best Problem To Solve
				ul.section__col.section__col--50
					li.yellow-back.listtitle Дизайн-исследования
					li Инструментарий дизайн-исследований для прохождения the Fuzzy Front End of Innovation
					li Разработка дизайн-концепций нового продукта
					li Формализация визуальных, эмоциональных и функциональных потребностей взаимодействия
					li Культурные коды, ментальность и архетипы потребления
					li Сервис-дизайн: подходы и практика
				ul.section__col.section__col--50
					li.yellow-back.listtitle Трендвотчинг
					li Глобальные тренды: практика сканирования и прогнозирования
					li Российские визуальные тренды: мебель, интерьеры, промышленный дизайн, визуальные коммуникации
					li Ценности и смыслы поколений X, Y, Z: ближне- и дальнесрочная перспективы
					li Премиальность и образ жизни в России: эмоциональные и эстетические ожидания
					li Актуальные тенденции развития мировых брендов
				ul.section__col.section__col--50
					li.yellow-back.listtitle Развитие креативности
					li Этимология творчества: как рождаются прорывные идеи
					li Что мешает нашему воображению: преодоление "тоннельного мышления"
					li Развитие "творческого интеллекта" в организациях
					li А что, если... Как активировать конвергентное мышление
		section.section
			h2.section__title
				span.event__toggle.active(data-events='active') Предстоящие события
				|  /
				span.event__toggle.unactive(data-events='unactive')  Архив событий
			.events.events--active
				.section__col.section__col--fullwidth.section__col--event
					.event__image
						img(src='http://education.lumiknows.com/assets/images/BPS_small.jpg')
					.event__description
						h3.section__title--event Как за 3 дня узнать о будущем больше, чем за год
						.event__date
							svg.icon.calendar
								use(xlink:href="#calendar")
							| 21.10.2015 - 25.10.2015
						.event__price
							svg.icon.calendar
								use(xlink:href="#price-tag")
							| 500 EURO
						.event__text 27-28 октября 2015 состоится "XII Customer Experience Forum". Это одно из главных событий года в сфере управления отношениями с клиентами, которое собирает ключевых персон, топ-менеджеров и специалистов, работающих в сфере клиентского сервиса. В рамках форума Екатерина Храмкова, Lumiknows проведет мастер-класс "Базовая формула дизайн-мышления. Искусство поиска the Best Problem to Solve". Мероприятие пройдет в Radisson Blu, Москва.
						a(href='#event1').event__givememore.fancybox Подробнее
						a(href='#', data-eventName='Как за 3 дня узнать о будущем больше, чем за год').event__givememore.jointoevent Хочу принять участие
				.section__col.section__col--fullwidth.section__col--event
					.event__image
						img(src='http://education.lumiknows.com/assets/images/thinkascreator.jpg')
					.event__description
						h3.section__title--event Как за 3 дня узнать о будущем больше, чем за год
						.event__date
							svg.icon.calendar
								use(xlink:href="#calendar")
							| 21.10.2015 - 25.10.2015
						.event__price
							svg.icon.calendar
								use(xlink:href="#price-tag")
							| 500 EURO
						.event__text 27-28 октября 2015 состоится "XII Customer Experience Forum". Это одно из главных событий года в сфере управления отношениями с клиентами, которое собирает ключевых персон, топ-менеджеров и специалистов, работающих в сфере клиентского сервиса. В рамках форума Екатерина Храмкова, Lumiknows проведет мастер-класс "Базовая формула дизайн-мышления. Искусство поиска the Best Problem to Solve". Мероприятие пройдет в Radisson Blu, Москва.
						a(href='#event1').event__givememore.fancybox Подробнее
						a(href='#', data-eventName='Как за 4 дня узнать о будущем больше, чем за год').event__givememore.jointoevent Хочу принять участие
			.events.events--unactive
				.section__col.section__col--fullwidth.section__col--event
					.event__image
						img(src='http://education.lumiknows.com/assets/images/thinkascreator.jpg')
					.event__description
						h3.section__title--event Как за 3 дня узнать о будущем больше, чем за год
						.event__date
							svg.icon.calendar
								use(xlink:href="#calendar")
							| 21.10.2015 - 25.10.2015
						.event__price
							svg.icon.calendar
								use(xlink:href="#price-tag")
							| 500 EURO
						.event__text 27-28 октября 2015 состоится "XII Customer Experience Forum". Это одно из главных событий года в сфере управления отношениями с клиентами, которое собирает ключевых персон, топ-менеджеров и специалистов, работающих в сфере клиентского сервиса. В рамках форума Екатерина Храмкова, Lumiknows проведет мастер-класс "Базовая формула дизайн-мышления. Искусство поиска the Best Problem to Solve". Мероприятие пройдет в Radisson Blu, Москва.
						a(href='#event1').event__givememore.fancybox Подробнее
				.section__col.section__col--fullwidth.section__col--event
					.event__image
						img(src='http://education.lumiknows.com/assets/images/thinkascreator.jpg')
					.event__description
						h3.section__title--event Как за 3 дня узнать о будущем больше, чем за год
						.event__date
							svg.icon.calendar
								use(xlink:href="#calendar")
							| 21.10.2015 - 25.10.2015
						.event__price
							svg.icon.calendar
								use(xlink:href="#price-tag")
							| 500 EURO
						.event__text 27-28 октября 2015 состоится "XII Customer Experience Forum". Это одно из главных событий года в сфере управления отношениями с клиентами, которое собирает ключевых персон, топ-менеджеров и специалистов, работающих в сфере клиентского сервиса. В рамках форума Екатерина Храмкова, Lumiknows проведет мастер-класс "Базовая формула дизайн-мышления. Искусство поиска the Best Problem to Solve". Мероприятие пройдет в Radisson Blu, Москва.
						a(href='#event1').event__givememore.fancybox Подробнее
				.section__col.section__col--fullwidth.section__col--event
					.event__image
						img(src='http://education.lumiknows.com/assets/images/thinkascreator.jpg')
						.event__title Как за 3 дня узнать о будущем больше, чем за год
					.event__description
						.event__date
							svg.icon.calendar
								use(xlink:href="#calendar")
							| 21.10.2015 - 25.10.2015
						.event__price
							svg.icon.calendar
								use(xlink:href="#price-tag")
							| 500 EURO
						.event__text 27-28 октября 2015 состоится "XII Customer Experience Forum". Это одно из главных событий года в сфере управления отношениями с клиентами, которое собирает ключевых персон, топ-менеджеров и специалистов, работающих в сфере клиентского сервиса. В рамках форума Екатерина Храмкова, Lumiknows проведет мастер-класс "Базовая формула дизайн-мышления. Искусство поиска the Best Problem to Solve". Мероприятие пройдет в Radisson Blu, Москва.
						a(href='#event1').event__givememore.fancybox Подробнее
		section.section.section--fullwidth.section--colored
			section.section
				h2.section__title Диалоги
				a(href='#').dialogi__itunes
					img(src='./assets/images/podcast-icon.png')
				p Мы проводим интервью с лидерами мнений. Вы модет
				.section__col.section__col--50
					a(href="http://www.youtube.com/watch?v=3BQn18U7-ZA", target="_blank")
						.dialog__img
							img(src='./assets/images/dialog.jpg')
							.dialog__overlay
								svg.icon.youtube4.header__icon
									use(xlink:href="#youtube4", fill='white')
						h3.dialog__title Дизайн-исследования в создании нового продукта: от издержек к инвестициям
				.section__col.section__col--50
					a(href="http://www.youtube.com/watch?v=3BQn18U7-ZA", target="_blank")
						.dialog__img
							img(src='./assets/images/dialog.jpg')
							.dialog__overlay
								svg.icon.play2.header__icon
									use(xlink:href="#play2", fill='white')
						h3.dialog__title Дизайн-исследования в создании нового продукта: от издержек к инвестициям
		section.section
			h2.section__title Команда:
			.section__col.section__col--50.line
				img.kate(src='./assets/images/ekaterina_150.jpg')
				p
					a.fancybox(href='#teamKate') Екатерина Храмкова,
					br
					| Генеральный директор дизайн-агентства инноваций <a href='http://www.lumiknows.com/' target="_blank">Lumiknows</a>.
			.section__col.section__col--50.line
				img.kate(src='./assets/images/alexey_team.jpg')
				p
					a.fancybox(href='#teamKate')
						| Алексей Николаев
					br
					| Директор образовательных программ Интел-Россия в области инновационного предпринимательства.
			.section__col.section__col--50.line
				img.kate(src='./assets/images/alex_kalenyuk.jpg')
				p
					a.fancybox(href='#teamKate') Алекс Каленюк
					br
					| Со-основатель и директор по продукту компании TFunnel.
		section.section.section--fullwidth#map
			form
				.section__col.section__col--form.section__col--fullwidth(style='margin: 0px')
					h2.section__title Мы запишем вас на:
					p.form__theme
				.section__col.section__col--form
					.formgroup
						label Ваше имя
						input(type='hidden', name='theme')
						input(type='text', name='name', required)
				.section__col.section__col--form
					.formgroup
						label Email
						input(type='email', name='email', required)
				.section__col.section__col--form
					.formgroup
						label Ваш номер телефона
						input(type='text', name='phone', required)
				.section__col.section__col--form.section__col--fullwidth(style='margin: 0px')
					.formgroup
						label  Сообщение
						textarea(name='message')
				.section__col.section__col--form
					.formgroup
						input(type='submit', value='Отправить')
		#event1.fancyboxhidden
			//- .event__image--width-auto
			//- 	img(src='http://education.lumiknows.com/assets/images/thinkascreator_copy.jpg', width='700px')
			//iframe(width="560" height="315" src="https://www.youtube.com/embed/obNf0mx1Wbk" frameborder="0" allowfullscreen)
			h2.section__title Как за 3 дня узнать о будущем больше, чем за год
			.event__date 21.10.2015 - 25.10.2015
			.event__price 500 EURO
			.event__description.event__description--popup Эта неделя – одно из самых важных событий в мире творческих индустрий. Сколько раз я убеждалась в том, что темы, явления, люди и технологии, которые появляются в это время в небольшом голландском городке, становятся потом мейнстримом, обретают силу глобальных трендов.
			a(href='#', data-eventName='Как за 4 дня узнать о будущем больше, чем за год').event__givememore.jointoevent Хочу принять участие
		#teamKate.fancyboxhidden
			.line
				img.kate(src='./assets/images/ekaterina_150.jpg')
				p Екатерина Храмкова,
					br
					|Генеральный директор дизайн-агентства
					br
					| инноваций <a href='http://www.lumiknows.com/' target="_blank">Lumiknows</a>.
			ul
				li.author Колумнист Harvard Business Review -
				li.author Россия по вопросам дизайн-мышления иинноваций;
				li.author Разработчик и преподаватель курсов «Дизайн-мышление» и «Дизайн-исследования и прогнозирование трендов», программа «Дизайн-менеджмент», Британская Высшая Школа Дизайна, Москва (2006 – 2012);
				li.author Преподаватель курса «Инструменты дизайн-мышления», программа «Маркетинг и бренд-менеджмент», Британская Высшая Школа Дизайна, Москва;
				li.author Член редакционного совета The International Journal of Business Anthropology, Нью-Йорк

			p Екатерина является пионером практики дизайн-исследований и преподавания дизайн-мышления в России. В 2007 основала стратегическое агентство Lumiknows, впервые в России специализирующееся на разработке инновационных продуктов и проведении дизайн-исследований (design research), используя методологию дизайн-мышления (design thinking). С тех пор были проведены уникальные проекты как для мировых, так ироссийских лидеров в более, чем пятнадцати индустриях: Samsung Electronics, Renault, Philips Design, Intel Russia, Merck, Московский метрополитен, Билайн-Вымпелком, Промсвязьбанк, Сбербанк, Световые Технологии и др.
			p С 2009 года Lumiknows выполнило более десятка проектов сканирования трендов для штаб-квартир Philips Design, Samsung Electronics в Эйндховене и Сеуле, a также их подразделений в Гонконге, Лондоне и Париже для самых разных продуктовых категорий: "здоровье", "бытовая техника", "мобильные коммуникации", "образ жизни", "премиальность".
			p В качестве руководителя Lumiknows Екатерине работала с множеством зарубежных дизайн-агентств, включая ведущие дизайн-консалтинговые компании мира: Continuum, Gravity Tank, Toca Design, Idea Couture, выполняя российскую часть их проектов для глобальных клиентов.
			p Уникальная компетенция Lumiknows – разработка методологии и стандартов создания, прототипирования и тестирования новых продуктов, услуг, сервисов с целью их последующей интеграции в бизнес-процессы компаний. В результате работы с Lumiknows были созданы Лаборатории дизайна и клиентского опыта ОАО «Билайн-Вымпелком», ОАО «Промсвязьбанк», ОАО «Сбербанка России», интегрированы новые подходы к созданию и тестированию новых продуктов в NVision Group, Intel Russia и множестве других компаний и стартапов.
			p Екатерина на регулярной основе проводит тренинги и образовательные семинары для дизайн-команд, предпринимателей и топ-менеджмента по темам «креативное мышление в бизнесе», «применение инструментария дизайн-мышления в разработке новых продуктов», «стратегии развития и позиционирования» и др. Среди клиентов – ведущие технопарки и образовательные учреждения России: Digital October, Сколково, МГУ имени Ломоносова, Уральский Федеральный Университет, IT-Парк Татарстана, бизнес-инкубаторы С.-Петербурга, Ижевска, Тольятти, Казани и множества других.
			p В 2012 стала первым российским спикером, приглашенным выступить на крупнейшей конференции Design Management Institute в Хельсинки, чтобы поделиться опытом проведенных в России дизайн-исследований с мировым дизайн-сообществом.
			p В 2013 была приглашена курировать курс «Дизайн-мышление для инноваций в бизнесе» от самого известного в мире проекта в сфере дистанционного образования Coursera. Проект Coursera Learning Hub состоялся на базе Digital October в Москве.
			p В 2014 стала российским ментором по дизайну глобального конкурса Intel Make It Wearable, призванном ускорить создание инновационных продуктов в области носимых технологий (wearables). Финал конкурса состоялся в Беркли, Кремниевая долина, США.
			p Закончила МГУ им. Ломоносова, защитила кандидатскую диссертацию в Институте Антропологии и Этнографии Российской Академии Наук. В 2005 году выиграла стипендию Британского правительства в области «Создания и разработки нового продукта» (New Product Development), что позволило ей получить с отличием британскую степень Master of Arts, Design & Branding Strategy в лондонском Brunel University
		script(src='./assets/js/jquery.min.js')
		script(src='./assets/js/fancybox/jquery.fancybox.js')
		script(type="text/javascript" src="https://mandrillapp.com/api/docs/js/mandrill.js")
		script(src='./assets/js/main.js')
