*, *:after, *:before
	box-sizing: border-box

html, body
	margin 0px
	font-size 16px
	height 100%
	font-family 'ralewaylight'

.bold, .choosed
	font-family "ralewaybold"

.modal
	display none

.doublesized
	font-size 2em
	font-family "ralewaythin"

a
	color #383838

li
	margin-bottom 5px

.choosed
	background yellow

.author
	font-style italic

blockquote
	position relative

.yellow-back
	background yellow
	font-size 120%

.line
	margin-bottom 40px
	@media screen and (max-width: 480px)
		text-align center

	img
		vertical-align top
		display inline-block
		border-radius 50%
		width 120px
		height 120px
		margin-right 20px
		@media screen and (max-width: 480px)
			display inline-block
			margin-bottom 10px

	img.kate
		vertical-align: middle;

	img + p
		vertical-align top
		display: inline-block
		width: calc(100% - 170px)
		padding 0px
		margin 0px
		@media screen and (max-width: 480px)
			text-align left
			display block
			margin 0px auto
			width 100%

	img.kate + p
		vertical-align middle

.agenda__day
	margin-top 40px
	font-family "ralewaybold"

.header
	height 100%

	&__container
		background url('../images/thinkascreator.jpg')
		background-position center center
		background-size cover
		max-width 1920px
		width 100%
		height 100%
		color white
		font-family 'ralewaylight'
		margin 0px auto
		padding 10vw

	&__slogan
		font-size: 10vh;
		@media screen and (orientation: portrait)
			font-size: 10vw;
		margin: 0px;
		background: yellow;
		display: inline-block;
		padding: 10px;
		color: black;

		&--sub
			font-size: 5vh;
			@media screen and (orientation: portrait)
				font-size: 5vw;
			color: black;
			background: white;
			display: inline-block;
			padding: 5px;
			margin-bottom 0px

		&--author
			font-size: 3vh;
			@media screen and (orientation: portrait)
				font-size: 3vw;
			background white
			color black
			display inline-block
			padding 5px

	&__icon
		position absolute
		bottom 20px
		left 50%
		transform translateX(-50%)
		width 2em
		height 2em
		fill white

.section
	max-width 1024px
	margin 0px auto
	padding 0px 10px

	&--colored
		background-color #F1EEEE;
		padding-top 20px


	&__title
		font-family: "ralewaymedium";
		letter-spacing: 1px;

		&--map
			color white

	&__col
		width 32%
		display inline-block
		padding 20px
		vertical-align top
		position relative
		@media screen and (max-width: 600px)
			width 100%
			display block
			margin-top 0px
			margin-bottom 0px
			padding-bottom 0px
			padding-top 0px

		&--event
			margin-bottom 40px
			// text-align center
			@media screen and (max-width: 600px)
				margin-bottom 40px

		&--form
			@media screen and (max-width: 1023px)
				width 100%

		&--fullwidth
			width 100%
			margin -20px

		&--50
			width 49%
			@media screen and (max-width: 600px)
				width 100%

	&--fullwidth
		max-width 1920px
		width 100%
		background-size cover


// Event markup
.event__toggle
	cursor pointer

.event__toggle.unactive
	// text-decoration underline
	color #c7c7c7

.event__image
	display inline-block
	width 280px
	vertical-align top
	@media screen and (max-width: 767px)
		display block

	> img
		width 100%

.event__image--width-auto > img
	width initial

.event__title
	position absolute
	color black
	background rgba(255,255,0,0.8)
	// display inline-block
	padding 5px
	top 145px
	margin 0px 30px 0px 10px
	text-align left
	width 260px

.event__date, .event__price
	margin-bottom 10px
	text-align left
	display inline-block
	margin-left 20px

	> svg
		height: 1em;
		display: inline;
		width: 1em;
		vertical-align: middle;
		margin-right: 10px;

.event__date
	margin-left 0px

.event__description
	font-style italic
	text-align left
	display inline-block
	width calc(100% - 300px)
	vertical-align top
	margin-left 15px
	@media screen and (max-width: 767px)
		width 100%

.event__givememore
	display inline-block
	margin 0px auto
	background yellow
	border 1px dashed #383838
	color black
	padding 5px 10px
	text-decoration none
	margin-top 10px
	text-transform uppercase
	margin-left 20px

	&:hover
		border 1px solid black
		transition border .3s

	&:first-of-type
		margin-left 0px

#map
	background url('../images/map-image.png') #222
	background-size cover
	background-position center center
	// height 600px
	text-align center
	position relative
	padding 20px
	@media screen and (max-width: 1023px)
		width 100%
		padding 0px

form
	position relative
	// top 50%
	// left 50%
	// transform translateY(-50%) translateX(-50%)
	width 1024px
	display inline-block
	text-align left
	color white
	background rgba(alpha(#383838,0.5))
	padding 10px
	@media screen and (max-width: 1023px)
		width initial
		max-width initial

	.formgroup
		margin-bottom 20px

		label
			display block
			margin-bottom 10px

		input, textarea
			display block
			width 100%
			outline none

			&:focus
				border 2px solid yellow

				&:valid
					border 2px solid green

		input[type="submit"]
			width initial
			background yellow
			border 0px
			color black
			padding 5px 10px
			outline none


.fancyboxhidden, .events.events--unactive
	display none

.section__col--event-unactive
	filter grayscale()

	&:hover
		filter initial

.listtitle
	list-style-type: none
	padding: 10px 10px 10px 20px
	margin-bottom: 20px
	margin-left: -20px

// Сеция с контактной формой
#map
	background url('../images/map-image.png') #222
	background-size cover
	background-position center center
	// height 600px
	text-align center
	position relative
	padding 20px
	@media screen and (max-width: 1023px)
		width 100%
		padding 0px

form
	position relative
	// top 50%
	// left 50%
	// transform translateY(-50%) translateX(-50%)
	width 1024px
	display inline-block
	text-align left
	color white
	background rgba(alpha(#383838,0.5))
	padding 10px
	@media screen and (max-width: 1023px)
		width initial
		max-width initial

	.formgroup
		margin-bottom 20px

		label
			display block
			margin-bottom 10px

		input, textarea
			display block
			width 100%
			outline none

			&:focus
				border 2px solid yellow

				&:valid
					border 2px solid green

		input[type="submit"]
			width initial
			background yellow
			border 0px
			color black
			padding 5px 10px
			outline none


.fancyboxhidden, .events.events--unactive
	display none

.fancybox-skin
	padding 0px

.events.events--unactive .section__col
	filter grayscale()

	&:hover
		filter initial
