*,
*:after,
*:before {
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  font-size: 16px;
  height: 100%;
  font-family: 'ralewaylight';
}
.bold,
.choosed {
  font-family: "ralewaybold";
}
.modal {
  display: none;
}
svg {
  fill: currentColor;
}
.doublesized {
  font-size: 2em;
  font-family: "ralewaythin";
}
a {
  color: #383838;
}
li {
  margin-bottom: 5px;
}
.choosed {
  background: #ff0;
}
.author {
  font-style: italic;
}
blockquote {
  position: relative;
}
.yellow-back {
  background: #ff0;
  font-size: 120%;
}
.menu {
  display: none;
  width: 100%;
  background: #fff;
  height: 73px;
  box-shadow: 0 0 1px #000;
  position: fixed;
  top: 0px;
  z-index: 1000;
}
.menu__container {
  max-width: 1024px;
  margin: 0px auto;
}
.menu__navigation {
  color: #fff;
  float: right;
  vertical-align: middle;
  height: 73px;
  background: #fff;
}
@media screen and (max-width: 768px) {
  .menu__navigation {
    border-top: 1px solid #000;
    float: none;
    height: initial;
    display: none;
  }
}
.menu__logo {
  float: left;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .menu__logo {
    float: none;
    text-align: center;
    height: 73px;
  }
}
.menu__button {
  position: absolute;
  top: 25px;
  right: 20px;
  display: none;
}
@media screen and (max-width: 768px) {
  .menu__button {
    display: block;
  }
}
.menu__icon {
  width: 20px;
  height: 20px;
}
.menu__link {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  vertical-align: middle;
  line-height: 73px;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .menu__link {
    display: block;
    background: #fff;
    text-align: center;
    border-bottom: 1px dashed #ff0;
  }
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__link + .menu__link {
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .menu__link + .menu__link {
    margin-left: 0px;
  }
}
.menu--visible {
  display: block;
}
.line {
  margin-bottom: 40px;
}
@media screen and (max-width: 480px) {
  .line {
    text-align: center;
  }
}
.line img {
  vertical-align: top;
  display: inline-block;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-right: 20px;
}
@media screen and (max-width: 480px) {
  .line img {
    display: inline-block;
    margin-bottom: 10px;
  }
}
.line img.kate {
  vertical-align: middle;
}
.line img + p {
  vertical-align: top;
  display: inline-block;
  width: calc(100% - 170px);
  padding: 0px;
  margin: 0px;
}
@media screen and (max-width: 480px) {
  .line img + p {
    text-align: left;
    display: block;
    margin: 0px auto;
    width: 100%;
  }
}
.line img.kate + p {
  vertical-align: middle;
}
.agenda__day {
  margin-top: 40px;
  font-family: "ralewaybold";
}
.header {
  height: 100%;
}
.header__container {
  background-position: center center;
  background-size: cover;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: 'ralewaylight';
  margin: 0px auto;
  padding: 1vw 0px 0px 1vw;
}
.header__slogan {
  font-size: 13vh;
  margin: 0px;
  background: rgba(255,255,0,0.8);
  display: inline-block;
  padding: 10px 2vw;
  color: #000;
}
@media screen and (orientation: portrait) {
  .header__slogan {
    font-size: 13vw;
  }
}
.header__slogan--sub {
  font-size: 7vh;
  color: #000;
  background: rgba(255,255,255,0.8);
  display: inline-block;
  padding: 10px 2vw;
  margin-bottom: 0px;
}
@media screen and (orientation: portrait) {
  .header__slogan--sub {
    font-size: 7vw;
  }
}
.header__slogan--author {
  font-size: 5vh;
  background: rgba(255,255,255,0.8);
  color: #000;
  display: inline-block;
  padding: 10px 2vw;
}
@media screen and (orientation: portrait) {
  .header__slogan--author {
    font-size: 5vw;
  }
}
.header__icon {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2em;
  height: 2em;
  fill: #fff;
}
.section {
  max-width: 1024px;
  margin: 0px auto;
  padding: 30px 10px;
  position: relative;
}
.section--colored {
  background-color: #f1eeee;
  padding-top: 20px;
}
.section__title {
  font-family: "ralewaymedium";
  letter-spacing: 1px;
}
.section__title--map {
  color: #fff;
}
.section__title--popup {
  margin-left: 15px;
}
.section__title--event {
  margin-top: 0px;
  margin-bottom: 10px;
}
.section__col {
  width: 32%;
  display: inline-block;
  padding: 20px;
  vertical-align: top;
  position: relative;
}
@media screen and (max-width: 600px) {
  .section__col {
    width: 100%;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
.section__col--event {
  margin-bottom: 40px;
}
@media screen and (max-width: 600px) {
  .section__col--event {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1023px) {
  .section__col--form {
    width: 100%;
  }
}
.section__col--fullwidth {
  width: 100%;
  margin: 0px -20px 40px -20px;
}
.section__col--50 {
  width: 49%;
}
@media screen and (max-width: 600px) {
  .section__col--50 {
    width: 100%;
  }
}
.section--fullwidth {
  max-width: 1920px;
  width: 100%;
  background-size: cover;
}
.event__toggle {
  cursor: pointer;
}
.event__toggle.unactive {
  color: #c7c7c7;
}
.event__image {
  display: inline-block;
  width: 190px;
  height: 190px;
  vertical-align: top;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .event__image {
    display: block;
    margin: 0px auto 10px 15px;
    width: 100%;
  }
}
.event__image > img {
  width: 100%;
  height: 100%;
}
.event__image--width-auto > img {
  width: initial;
}
.event__title {
  position: absolute;
  color: #000;
  background: rgba(255,255,0,0.8);
  padding: 5px;
  top: 145px;
  margin: 0px 30px 0px 10px;
  text-align: left;
  width: 260px;
}
.event__date,
.event__price {
  margin-bottom: 10px;
  text-align: left;
  display: inline-block;
  margin-left: 20px;
}
.event__date > svg,
.event__price > svg {
  height: 1em;
  display: inline;
  width: 1em;
  vertical-align: middle;
  margin-right: 10px;
}
.event__date {
  margin-left: 0px;
}
.event__date--popup {
  margin-left: 15px;
}
.event__description {
  font-style: italic;
  text-align: left;
  display: inline-block;
  width: calc(100% - 300px);
  vertical-align: top;
  margin-left: 15px;
}
@media screen and (max-width: 767px) {
  .event__description {
    width: 100%;
  }
}
.event__description--popup {
  display: block;
  width: 100%;
  margin-left: 0px;
  margin-bottom: 40px;
}
.event__givememore {
  display: inline-block;
  margin: 0px auto;
  background: #ff0;
  border: 1px dashed #383838;
  color: #000;
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  text-transform: uppercase;
  margin-left: 20px;
}
@media screen and (max-width: 767px) {
  .event__givememore {
    font-size: 0.9rem;
  }
}
.event__givememore:hover {
  border: 1px solid #000;
  transition: border 0.3s;
}
.event__givememore:first-of-type {
  margin-left: 0px;
}
#map {
  background: url("../images/map-image.png") #222;
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
  padding: 20px;
  display: none;
}
@media screen and (max-width: 1023px) {
  #map {
    width: 100%;
    padding: 0px;
  }
}
form {
  position: relative;
  width: 1024px;
  display: inline-block;
  text-align: left;
  color: #000;
  background: rgba(56,56,56,0.5);
  padding: 10px;
}
@media screen and (max-width: 1023px) {
  form {
    width: initial;
    max-width: initial;
  }
}
form .formgroup {
  margin-bottom: 20px;
}
form .formgroup label {
  display: block;
  margin-bottom: 10px;
}
form .formgroup input,
form .formgroup textarea {
  display: block;
  width: 100%;
  outline: none;
  color: #000;
}
form .formgroup input:focus,
form .formgroup textarea:focus {
  border: 2px solid #ff0;
}
form .formgroup input:focus:valid,
form .formgroup textarea:focus:valid {
  border: 2px solid #008000;
}
form .formgroup input[type="submit"] {
  width: initial;
  background: #ff0;
  border: 0px;
  color: #000;
  padding: 5px 10px;
  outline: none;
}
.fancyboxhidden,
.events.events--unactive {
  display: none;
}
.section__col--event-unactive {
  -webkit-filter: grayscale();
          filter: grayscale();
}
.section__col--event-unactive:hover {
  -webkit-filter: initial;
          filter: initial;
}
.listtitle {
  list-style-type: none;
  padding: 10px 10px 10px 20px;
  margin-bottom: 20px;
  margin-left: -20px;
}
#map {
  background: url("../images/map-image.png") #222;
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
  padding: 20px;
}
@media screen and (max-width: 1023px) {
  #map {
    width: 100%;
    padding: 0px;
  }
}
form {
  position: relative;
  width: 1024px;
  display: inline-block;
  text-align: left;
  color: #fff;
  background: rgba(56,56,56,0.5);
  padding: 10px;
}
@media screen and (max-width: 1023px) {
  form {
    width: initial;
    max-width: initial;
  }
}
form .formgroup {
  margin-bottom: 20px;
}
form .formgroup label {
  display: block;
  margin-bottom: 10px;
}
form .formgroup input,
form .formgroup textarea {
  display: block;
  width: 100%;
  outline: none;
}
form .formgroup input:focus,
form .formgroup textarea:focus {
  border: 2px solid #ff0;
}
form .formgroup input:focus:valid,
form .formgroup textarea:focus:valid {
  border: 2px solid #008000;
}
form .formgroup input[type="submit"] {
  width: initial;
  background: #ff0;
  border: 0px;
  color: #000;
  padding: 5px 10px;
  outline: none;
}
.dialogi__itunes {
  position: absolute;
  right: 0px;
  top: -10px;
  width: 120px;
}
.dialogi__itunes img {
  width: 100%;
}
.dialog__img {
  position: relative;
  height: 320px;
}
.dialog__img img {
  width: 100%;
  height: 100%;
}
.dialog__img:hover > .dialog__overlay {
  display: block;
}
.dialog__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.7);
  display: none;
}
.dialog__overlay > svg {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.fancyboxhidden,
.events.events--unactive {
  display: none;
}
.events.events--unactive .section__col {
  -webkit-filter: grayscale();
          filter: grayscale();
}
.events.events--unactive .section__col:hover {
  -webkit-filter: initial;
          filter: initial;
}
.owl-carousel {
  width: 750px;
  height: 200px;
}
.owl-carousel .owl-item {
  width: 750px;
  height: 200px;
}
