.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 3.2em 11em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}

.icon.calendar:before {
    background-position: 0em 0em;
    width: 3.2em;
    height: 3.2em;
}

.icon.mouse:before {
    background-position: 0em -3.2em;
    width: 3.2em;
    height: 3.2em;
}

.icon.price-tag:before {
    background-position: 0em -6.4em;
    width: 3.2em;
    height: 3.2em;
}

.icon.rocket:before {
    background-position: 0em -9.6em;
    width: 1.3em;
    height: 1.4em;
}

